/.idea
/node_modules
/public/hot
/public/storage
/public/settlement
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

!storage/app/Form_With_Change.xlsx
!storage/app/Form_Without_Change.xlsx
